/* BASIC STYLES HERE */
body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-size: cover;
  color: azure;
}


main {
  flex-grow: 1;
}

.hoverWrapper:hover #showName {
  display: block;
}

.hoverWrapper #showName{
  display: none;
  position: absolute;
}

.del{

  color:red;
  text-decoration: line-through;
}
